<%- include('partials/header') %>
<div class="form-container">
    <div class="logo-container">
        <div class="logo">
            TaMaduro
        </div>
    </div>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <input placeholder="Nome" type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>
        <div class="form-group">
            <input placeholder="E-mail" type="email" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>
        <div class="form-group">
            <input placeholder="Login" type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>
        <div class="form-group">
            <input placeholder="Senha" type="password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group form-group--actions">
            <button type="submit" class="btn btn-login-action btn-block btn-primary">Confirmar</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>